.box  {

    margin: 0 auto;
    width: 90%;
    max-width: 25em;
    padding: 1.5em;
    border-radius: .8em;
    position: relative;
    bottom: 7em;
    background: var(--white);
}

h1 {

    display: flex;
    align-items: center;
}

#diamond {

    width: .8em;
    margin-right: .7em;
}

.box__faqs  {

    padding: 1em;
    border-bottom: 1px solid var(--light-pink);
}

.box__question {

    display: flex;
    justify-content: space-between;
    font-size: 1.1em;
    font-weight: 600;
}

.box__faqs:last-child {

    border-bottom: none;
}

.box__answer {

    margin-top: 1.5em;
    line-height: 1.5em;
    font-size: .9em;
    font-weight: 400;
    color: var(--gray-purple);
}

@media screen and (width >= 992px) {
    
    .box  {

        max-width: 30em;
    }

    h1 {

        font-size: 2.8em;
    }

    #diamond {

        margin-right: .5em;
    }
}